body {
	margin: 0;
	padding: 0;
}

/* nav bar */
nav {
    background: #415acf; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #415acf, #2d44b0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #415acf, #2d44b0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #415acf, #2d44b0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #415acf, #2d44b0); /* Standard syntax */
    height: 40px;
}

/* default state of the menu button */
nav button {
	background-color: white;
	border: 0px;
	margin: 3px;
	padding: 0px;
	height: 34px;
	width: 34px; 
	border-radius: 5px;
}

/* on mouse down */
nav button:active {
	background: #DDDDDD;
}

.popout {
	position: absolute;
	top: 0px;
	left: 0vw;
}

.alert {
    background: #FFFFFF;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.dimmer {
    background: #000000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.sidebar {
    background: #CCCCDD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #CCCCDD, #446699); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #CCCCDD, #446699); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #CCCCDD, #446699); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #CCCCDD, #446699); /* Standard syntax */
	width: 75vw;
	height: 100vh;
	margin: 0;
	left: 0vw;
	position: relative;
	top: 0;
    z-index: 2;
}

.sidebar button {
	display: inline-block;
	background-color: white;
	border: 0px;
	margin: 5px;
	padding: 0px;
	height: 34px;
	width: 70vw; 
	border-radius: 5px;
}

.sidebar button:active {
	background-color: #DDDDDD;
}

.sidebar .back {
	display: inline-block;
	background-color: #999999;
	opacity: 0.5;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 125vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 0px;
}

@keyframes popout {
	from {left: -100%;}
	to {left: 0%;}
}

.inputarea {
	position: absolute;
	margin: auto;
	padding: 5px;
	display: inline-block;
	background: #DDDDDD;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* affects login and password */
.inputarea label {
	text-decoration: underline;
	margin: 2px;
}

/* affects login and password */
.inputarea input {	
	position: relative;
	border: #C0C0C0;
	margin: 2px;
	border-bottom: 2px solid #6699CC;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	
}
