/* nav bar */
nav {
    background: #415acf; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #415acf, #2d44b0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #415acf, #2d44b0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #415acf, #2d44b0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #415acf, #2d44b0); /* Standard syntax */
    height: 40px;
}

/* default state of the menu button */
nav button {
	background-color: white;
	border: 0px;
	margin: 3px;
	padding: 0px;
	height: 34px;
	width: 34px; 
	border-radius: 5px;
}

/* on mouse down */
nav button:active {
	background: #DDDDDD;
}

.sidebar {
	animation-name: SidebarPopout;
	animation-duration: 1s;
    background: #CCCCDD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #CCCCDD, #446699); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #CCCCDD, #446699); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #CCCCDD, #446699); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #CCCCDD, #446699); /* Standard syntax */
	width: 75vw;
	height: 100vh;
	left: 0vw;
	position: absolute;
	top: 0;
}

.sidebar button {
	display: inline-block;
	background-color: white;
	border: 0px;
	margin: 5px;
	padding: 0px;
	height: 34px;
	width: 70vw; 
	border-radius: 5px;

}

.sidebar .back {
	display: inline-block;
	background-color: #999999;
	opacity: 0.5;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 30vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: -30vw;
	border-radius: 0px;
	animation-name: filterSidebarPopout;
	animation-duration: 1s;
}

@keyframes SidebarPopout {
	from {left: -75vw;} /* this is a hacky solution */
	to {left: 0vw;}
}

@keyframes filterSidebarPopout {
	from {width: 100vw; right: -100vw;}
	to {width: 30vw; right: -30vw;}
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	
}
