/* nav bar */
nav {
    background: #415acf; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #415acf, #2d44b0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #415acf, #2d44b0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #415acf, #2d44b0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #415acf, #2d44b0); /* Standard syntax */
    height: 40px;
}

/* default state of the menu button */
nav button {
	background-color: white;
	border: 0px;
	margin: 3px;
	padding: 0px;
	height: 34px;
	width: 34px; 
	border-radius: 5px;
}

/* on mouse down */
nav button:active {
	background: #DDDDDD;
}

.popout {
	position: absolute;
	top: 0px;
	left: 0vw;
}

.alert {
    background: #FFFFFF;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.dimmer {
    background: #000000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.sidebar {
    background: #CCCCDD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #CCCCDD, #446699); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #CCCCDD, #446699); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #CCCCDD, #446699); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #CCCCDD, #446699); /* Standard syntax */
	width: 75vw;
	height: 100vh;
	margin: 0;
	left: 0vw;
	position: relative;
	top: 0;
    z-index: 2;
}

.sidebar button {
	display: inline-block;
	background-color: white;
	border: 0px;
	margin: 5px;
	padding: 0px;
	height: 34px;
	width: 70vw; 
	border-radius: 5px;
}

.sidebar button:active {
	background-color: #DDDDDD;
}

.sidebar .back {
	display: inline-block;
	background-color: #999999;
	opacity: 0.5;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 125vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 0px;
}

@keyframes popout {
	from {left: -100%;}
	to {left: 0%;}
}

#login_logo {
	max-height: 30vmin;
	max-width: 90vmin;/* vmin works surprisingly well here */
	display: block;
	margin: auto;
	margin-top: 5vh;
}

.inputarea {
	position: absolute;
	padding: 5px;
	display: inline-block;
	background: #B1DAEE;
    margin-top: 5vh;
    left: 50%;
    transform: translate(-50%,  0%);
    box-shadow: 3px 5px 3px hsla(0,0%,20%,0.8);
}

.inputarea button {
	float: right;
	background: #FF714C;
	color: #FFFFFF;
	border: 0px;
	height: 2.5em;
	width: 6em;
    box-shadow: 1px 2px 1px hsla(0,0%,20%,0.8);
}

.inputarea button:active {
    box-shadow: 0px 1px 1px hsla(0,0%,20%,0.8);
}

.inputarea table, .inputarea td, .inputarea tr, .inputarea th {
	border: 0px;
	padding: 2px;
}

/* affects login and password */
.inputarea label {
	color: #1d6d93;
	font-weight: bold;
	font-size: 140%;
}

/* affects login and password */
.inputarea input {
    box-shadow: inset 1px 2px 1px hsla(0,0%,20%,0.8);
	border: #C0C0C0;
	height: 2.5em;
	border-bottom: 2px solid #1d6d93;
}

.addtaskbutton button {
	float: center;
	background: #FF714C;
	color: #FFFFFF;
	border: 0px;
	height: 2.5em;
	width: 12em;
    box-shadow: 1px 2px 1px hsla(0,0%,20%,0.8);
}

.addtaskbutton button:active {
    box-shadow: 0px 1px 1px hsla(0,0%,20%,0.8);
}

.taskpage {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font: 30px arial, sans-serif;
}

.textarea {
	position: absolute;
	padding: 10px;
	display: inline-block;
	background: #B1DAEE;
    top: 50vmax;
    left: 50%;
    transform: translate(-50%, -50%);
   
	
}
.textarea label {
	color: #1d6d93;
	font-weight: bold;
	font-size: 140%;
}

.addtaskpage {
	display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font: 30px arial, sans-serif;
}

.updatepage {
	 display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font: 30px arial, sans-serif;
}

.addupdatebutton button {
	float: center;
	background: #FF714C;
	color: #FFFFFF;
	border: 0px;
	height: 2.5em;
	width: 12em;
    box-shadow: 1px 2px 1px hsla(0,0%,20%,0.8);
}

.addupdatebutton button:active {
    box-shadow: 0px 1px 1px hsla(0,0%,20%,0.8);
}

.addupdatepage {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font: 30px arial, sans-serif;
}

.messagearea {
	position: absolute;
	padding: 10px;
	display: inline-block;
	background: #B1DAEE;
    top: 50vmax;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messagearea label {
	color: #1d6d93;
	font-weight: bold;
	font-size: 140%;
}

.cancel button {
	float: center;
	background: #FF714C;
	color: #FFFFFF;
	border: 0px;
	height: 2.5em;
	width: 12em;
    box-shadow: 1px 2px 1px hsla(0,0%,20%,0.8);
}

.cancel button:active {
    box-shadow: 0px 1px 1px hsla(0,0%,20%,0.8);
}

.post button {
	float: center;
	background: #FF714C;
	color: #FFFFFF;
	border: 0px;
	height: 2.5em;
	width: 12em;
    box-shadow: 1px 2px 1px hsla(0,0%,20%,0.8);
}

.post button:active {
    box-shadow: 0px 1px 1px hsla(0,0%,20%,0.8);
}

/*** HEY SETH ***/
table, td, th, tr {
	border: 3px solid black;
	border-collapse: collapse;
	margin: 5px;
	padding: 5px;
}


/* you'll probably have stuff like this
but actually doing something decent */
#landing_page .head_CareTeam {
	background: yellow;
}
#landing_page .data_CareTeam {
	background: white;
}

#landing_page .head_tasks, #landing_page .data_tasks {
	background: red;
}

#tasks_page table, #tasks_page td, #tasks_page th, #tasks_page tr {
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 90%;
}

/* Landscape layout (with min-width) */
/* it's better to write responsive design that doesn't need to use this */
/* this is a 'last' resort */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	
}
